@import "./../../style/reset.scss";
@import "./../../style/base.scss";

/* ----- PC端样式 START ----- */

// 头部
.header {
    width: 100%;
    height: 300px;

    .info-container {
        box-sizing: border-box;
        float: right;
        width: 30%;
        height: 100%;
        padding: 30px 0 20px;
        background-color: $gray2;

        .avatar {
            display: block;
            width: 120px;
            height: 120px;
            margin: 0 auto 10px;
            border-radius: 100%;
        }

        .pc-detail {
            width: 100%;
            font-size: 15px;

            .pc-detail-item {
                min-height: 20px;
                line-height: 20px;
                padding: 5px 15px;

                &.author-name {
                    text-align: center;
                    font-size: 13px;
                }

                &.wechat-item {
                    position: relative;

                    .QRcode-container {
                        position: absolute;
                        top: 0;
                        left: -80%;
                        width: 80%;
                        box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
                        background-color: $white1;
                        z-index: 990;

                        .QRcode-img {
                            width: 100%;
                        }
                    }
                }

                .value {
                    float: right;
                    font-size: 13px;
                    line-height: inherit;
                }
            }
        }
    }

    .nav {
        position: relative;
        float: left;
        width: 70%;
        height: 100%;
        background-image: url(https://raw.githubusercontent.com/WeiJietao/wjt20/master/src/images/w1.jpg);
        background-size: 100% 100%;

        .nav-list {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 14px;
            background-color: $black1;

            .nav-item {
                float: left;
                min-width: 15%;
                height: 45px;
                line-height: 45px;
                color: $white1;
                text-align: center;
                transition: background-color 0.5s;

                &:hover {
                    background-color: $yellow1;
                    color: $black1;
                }
            }
        }
    }
}

/* ----- PC端样式 END ----- */

/* ----- 移动端样式 START ----- */

@media only screen and (max-width: 900px) {
    // 头部
    .header {
        position: relative;
        width: 100%;
        height: 12rem;

        .info-container {
            position: absolute;
            width: 50%;
            height: 10rem;
            padding: 1.75rem 0 0;
            margin: 0 50%;
            transform: translateX(-50%);
            background-color: transparent;
            color: $white1;
            z-index: 10;

            .avatar {
                width: 3.5rem;
                height: 3.5rem;
                margin: 0 auto;
            }

            .pc-detail {
                display: none;
            }

            .mb-detail {
                display: block;
                font-size: 0.685rem;

                .mb-detail-item {
                    box-sizing: border-box;
                    float: left;
                    width: 33.33%;
                    text-align: center;
                    border-right: 1px solid $white1;

                    &.author-name {
                        width: 100%;
                        height: 2.25rem;
                        line-height: 2.25rem;
                        font-size: 0.75rem;
                    }

                    &:first-of-type, &:last-of-type {
                        border: none;
                    }
                }
            }
        }

        .nav {
            width: 100%;
            background-size: auto 100%;

            .nav-list {
                font-size: 0.685rem;

                .nav-item {
                    box-sizing: border-box;
                    padding: 0 1rem;
                    height: 2rem;
                    line-height: 2rem;
                }
            }
        }
    }
}

/* ----- 移动端样式 END ----- */
