@import "./../../../common/style/reset.scss";
@import "./../../../common/style/base.scss";

// 头部
.header {
    width: 100%;
    height: 300px;

    .info-container {
        box-sizing: border-box;
        float: left;
        width: 28%;
        height: 100%;
        padding: 30px 0 20px;
        background-color: $gray2;

        .avatar {
            display: block;
            width: 120px;
            height: 120px;
            margin: 0 auto 10px;
            border-radius: 100%;
        }

        .url-list {
            width: 100%;
            font-size: 15px;

            .url-item {
                overflow: hidden;
                padding: 5px 15px;

                &.author-name {
                    text-align: center;
                    font-size: 13px;
                }

                .label {
                    float: left;
                }

                .value {
                    float: right;
                    font-size: 13px;
                }
            }
        }
    }

    .nav {
        position: relative;
        float: left;
        width: 72%;
        height: 100%;
        background-image: url(https://raw.githubusercontent.com/WeiJietao/wjt20/master/src/images/w1.jpg);
        background-size: 100% 100%;

        .nav-list {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 14px;
            background-color: $black1;

            .nav-item {
                float: left;
                min-width: 15%;
                height: 45px;
                line-height: 45px;
                color: $white1;
                text-align: center;
                transition: background-color 0.5s;

                &:hover {
                    background-color: $yellow1;
                    color: $black1;
                }
            }
        }
    }
}

// 文章列表
.article-list {
    float: left;
    overflow: hidden;
    width: 69%;
    margin: 10px 0;
    background-color: $gray2;
    font-size: 14px;

    .article-item {
        position: relative;
        height: 60px;
        line-height: 60px;
        text-indent: 20px;
        border-bottom: 1px dashed $gray4;

        &:hover {
            background-color: $black1;
            color: $yellow1;
        }

        &:last-of-type {
            border: none;
        }

        .arrow {
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            width: 8px;
            height: 8px;
            margin: auto 0;
        }
    }
}

// 技能图
.skip-detail {
    box-sizing: border-box;
    float: right;
    width: 30%;
    background-color: $gray2;
    margin: 10px 0;

    .title {
        height: 45px;
        line-height: 45px;
        text-indent: 16px;
        font-size: 16px;
        background-color: $black1;
        color: $yellow1;
    }

    .skip-detail-container {
        width: 100%;
        height: 350px;
        margin: auto;

        div {
            overflow: auto !important;
        }
    }
}
